<div>
  Major Tom is a bot for space and SpaceX nerds.
</div>

<div class="my-4">
  <b>Features:</b>
  <ul class="list-disc list-inside">
    <li><%= link "FLHerne Lunchbot Replacement", to: Routes.flherne_index_path(@conn, :index) %></li>
  </ul>
</div>

<div class="content">
  <a href="https://github.com/joshproehl/MajorTom">GitHub</a>
</div>